{% extends "restaurant_review/base.html" %}
{% block title %}Add User{% endblock %}
{% block head %}
    {{ block.super }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }
  </style>
{% endblock %}
{% block content %}
    <h1>Add New User</h1>

    <form method="POST" action="{% url 'add_user' %}">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
          <label for="first_name" class="form-label">First Name</label>
          <input type="text" class="form-control" id="first_name" name="first_name">
        </div>
        <div class="mb-3">
          <label for="last_name" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="last_name" name="last_name">
        </div>
        <div class="mb-3">
          <label for="phone_number" class="form-label">Phone Number (optional)</label>
          <input type="text" class="form-control" id="phone_number" name="phone_number">
        </div>
        <div class="mb-3">
          <label for="team" class="form-label">Team</label>
          <select class="form-select" id="team" name="team">
            <option value="HR">HR</option>
            <option value="IT">IT</option>
            <!-- Dodaj więcej opcji, jeśli to konieczne -->
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'user_list' %}" class="btn btn-secondary">Cancel</a>
      </form>
{% endblock %}
